---
Language: Cpp
BasedOnStyle: LLVM

PointerAlignment: Left

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:      true
  AfterControlStatement:  true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  AfterExternBlock: true
  BeforeCatch:     true
  BeforeElse:      true
  BeforeLambdaBody: false
  BeforeWhile:     true
  IndentBraces:   false 
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

IndentWidth: 4
TabWidth: 4
UseTab: Always 

SpaceBeforeAssignmentOperators: true

MaxEmptyLinesToKeep: 2 

AllowShortFunctionsOnASingleLine: Empty
AccessModifierOffset: -4